@keyframes prueba {
    from {background-color: red;}
    to {background-color: yellow;}
}

/* el elemento al que se le aplica la animación */
div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: prueba;
    animation-duration: 4s;
}