body{
    background: green;
    
}

.container{
    height: 100vh;
    max-width: 100wh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    background-color: blue;
    font-family: sans-serif;
    padding: 10px;
    width: 200px;
    color: white;
}