/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


  :root {
    --bs-primary: #ff6347;
    --bs-secondary: #0c4576;
    --bs-success: #28a745;
  }



body{
    font-family: 'Raleway', sans-serif;
}